/* ABOUT SECTION */
.about-section{

    padding:40px 10%;
}

/* TOP */
.top-about{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
}

/* PROFILE */
.profile-box img{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
    border:
    4px solid rgba(241, 15, 155, 0.685);
    filter:
    drop-shadow(0 0 20px rgb(3, 1, 1));
    transition:.4s;
}

/* Hover */
.profile-box img:hover{

    transform:
    scale(1.05);
}

/* ABOUT */
.about-box{

    width:500px;
    height:220px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:30px;
    background:
    rgba(226, 69, 147, 0.438);
    border:
    1px solid
    rgba(247, 14, 158, 0.87);
    backdrop-filter:
    blur(20px);
}

.about-box h1{

    color:rgb(255, 255, 252);
    font-size:20px;
    padding:0 25px;
    letter-spacing:0px;
    white-space:normal;
    overflow-wrap:break-word;
    word-break:break-word;
}

/* JOB TITLE */
.job-box{

    margin-top:25px;
    display:flex;
    justify-content:center;
}
.job-box p{

    font-size:22px;
    font-weight:500;
    color:white;
    padding:18px 50px;
    border-radius:20px;
    background:
    rgba(180, 0, 120, 0.616);
    border:
    1px solid
    rgba(255, 233, 37, 0.432);
    backdrop-filter:
    blur(20px);
}