*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins;
}

body{
    height:100vh;
    background:#e4e713;
    overflow:hidden;
}

/* Background */
.background{
    position:absolute;
    width:100%;
    height:100%;
    filter:blur(150px);
}

.background::before,
.background::after{
    content:'';
    position:absolute;
    border-radius:50%;
}

.background::before{
    width:1000px;
    height:1000px;
    background:rgb(194, 156, 245);

    top:0%;
    left:30%;
}

/* image */
.image-box{

    perspective:1200px;

}

/* Robot Image */
.image-box img{
    width:430px;
    object-fit:contain;

    /* Membuat gambar lebih nyata */
    filter:
    brightness(1)
    contrast(1)
    saturate(1)
    drop-shadow(0 10px 25px rgba(242, 255, 126, 0.822))
    drop-shadow(0 0 15px rgb(255, 255, 255))
    drop-shadow(0 0 35px rgba(235, 94, 235, 0.904));
    /* Hilangkan background gelap */
    mix-blend-mode:screen;
    /* Smooth */
    transition:.2s ease;
    /* Floating */
    animation:
    float 2s ease-in-out infinite;
}

/* Hover Effect */
.image-box img:hover{
    transform:
    scale(5)
    rotateY(20deg)
    rotateX(5deg);
    filter:
    brightness(1)
    contrast(1)
    saturate(1)
    drop-shadow(0 20px 30px rgb(255, 231, 18))
    drop-shadow(0 0 25px rgb(255, 0, 212))
    drop-shadow(0 0 50px rgb(18, 255, 89));
}

/* Floating Animation */
@keyframes float{
    0%{
        transform:
        translateY(0px);
    }

    50%{
        transform:
        translateY(-18px);
    }

    100%{
        transform:
        translateY(0px);
    }

}

/* Container */
.container{
    width:102%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;
    padding:0 10%;
}

/* Glass */
.glass-box{
    color:rgb(162, 15, 207);
    padding:20px;
    border-radius:30px;
    background:rgba(226, 69, 69, 0.08);
    backdrop-filter:blur(20px);
    border:1px solid rgba(129, 71, 134, 0.589);

}

.glass-box h1{
    font-size:65px;
    margin:10px 0;
}

.glass-box p{
    font-size: 25px;
}

.glass-box a{
    display:inline-block;
    margin-top:30px;
    text-decoration:none;
    color:rgb(250, 250, 250);
    background:rgba(128, 52, 138, 0.555);
    padding:10px 10px;
    border-radius:90px;
    font-weight:bold;
}

/* Animation Image */
.image-box img{
    width:550px;
    animation:float 3s ease-in-out infinite;
}

/* Floating effect */
@keyframes float{
    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0px);
    }
}

/* Mobile */
@media(max-width:768px){
    .container{
        flex-direction:column;
        text-align:center;
    }

    .glass-box h1{
        font-size:35px;
    }

    .image-box img{
        width:250px;
    }

}

.enter-btn{

    position:relative;

    z-index:999;


    cursor:pointer;

}
